body {
 font-family: "Arial";
 margin: 0;
 padding: 0;
 background: linear-gradient(135deg, #153677, #4e085f);
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
    
}

.container {
 text-align: center;
  background-color: #ddd4d4; 
 padding: 20px 30px;
 border-radius: 10px;
box-shadow: 0 0 10px rgba(5, 5, 5, 0.2);
max-width: 400px;
 width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: teal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: underline;
    font-family: cursive;
}

.input-container {
display: flex;
 gap: 10px;
margin-bottom: 20px;
}
.task-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    flex: 1;
    transition: all 0.3s ease;
    outline: none;
}
.add-task {
 font-size: 16px;
 background-color: #007bFF;
 color: #fff;
 border: none;
 border-radius: 5px;
 padding: 10px 20px;
 cursor: pointer;
 transition: background 0.3s ease;
}

.add-task:hover {
    background-color: #0056b3;
}

.task-list {
    list-style: none;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.task-item.completed .task-text {
    text-decoration: line-through;
    opacity: 0.7;
    background-color: #d3ffd3;
}
.task-item:hover {
    background-color: #f0f8ff;
    transform: translate(-2px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.task-item.completed:hover {
    background-color: #d0f0d0
}
.delete-icon {
    font-size: 18px;
    color: #f44336;
    cursor: pointer;
    transition: color 0.3s ease;
    border: none;
    background: none;
}

.delete-icon:hover {
    color: #a71d2a;
}

.checkbox-container {
    position: relative;
}

.checkbox-container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.checkbox-container {
    width: 40px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.checkbox-container.checked {
    background-color: #007bff;
}

.checkbox-container.checked::after {
    content: '\2713';
    color: white;
    font-size: 18px;
}

.checkbox-container:hover {
    border-color: #0056b3;
}